name: chilehalal_mobile
description: "A new Flutter project."
publish_to: 'none'
version: 0.1.0

environment:
  sdk: ^3.10.7

dependencies:
  flutter:
    sdk: flutter
  font_awesome_flutter: ^10.12.0
  mobile_scanner: ^7.1.4
  persistent_bottom_nav_bar: ^6.2.1
  http: ^1.2.0
  shared_preferences: ^2.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/chilehalal-isotipo.png
    - assets/images/chilehalal-logo.png
